<style type="text/css">

#menu {
   font-size: 8px;
   font-family: MS Sans Serif;
	width: 700px;
 }
 
#menu ul {
   list-style-type: none;
   padding: 0; margin: 0;
}
 
#menu li {
   float: left;
   padding: 0; margin: 0;
}

#menu li a:link, #menu li a:visited {
   display: block;
   width: 100px; /* szerokosc grafiki */
   height: 20px; /* polowa wysokosci obrazka z grafika */
   line-height: 20px;
   background: transparent url(bg3.jpg) no-repeat;
   color: #fff;
   text-align: center;
   text-decoration: none;
}

#menu li a:hover, #menu li a:active {
   color: #000;
   background-position: 0 -20px;
}

#menu {
	font-size: 14px;
	font-family: MS Sans Serif;
	border-bottom: solid 4px #cfc88c;
	overflow: hidden;
}

#menu li {
	float: left;
	padding: 0; margin: 0 0 0 1px;	
}

#menu ul li:first-child {
	margin-left: 0;
}

#menu ul {
	width: 660px;
	list-style-type: none;
	margin: 0 auto; padding: 0;
}

menu {
	font-size: 14px;
	font-family: MS Sans Serif;
	border-bottom: solid 8px #E9AA01;
	overflow: hidden;
	margin: 0 auto;
	width: 660px;
}
</style>